.ul-applicants {
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
    list-style-type: none;
}

.applicants {
    padding-top: 20px
}